<table id="<%= dom_id friend %>" class="table table-dark table-striped table-hover">
  <td>
    <strong>First name: </strong>
    <%= friend.first_name %>
  </td>

  <td>
    <strong>Last name: </strong>
    <%= friend.last_name %>
  </td>

  <td>
    <strong>Phone number: </strong>
    <%= friend.phone_number %>
  </td>

  <td>
    <strong>Twitter: </strong>
    <%= friend.twitter %>
  </td>

</table>


